.dialogSpan {
  display: block;
  padding: 0.25rem 0;
}

.dialogDescription {
  margin-top: 0.75rem;
}

.drawerDescription {
  margin: 0 1rem;
}

.drawerSpan {
  display: block;
  padding: 0.5rem 0;
}

.dialogDescription img,
.drawerDescription img {
  margin-bottom: 1rem;
}

.chartWrap {
  position: relative;
}

/* .chartWrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
