.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  min-height: 100vh;
}

.main p {
  color: rgb(var(--foreground-secondary-rgb));
  margin-bottom: 2rem;
  text-align: center;
}

.main ul {
  list-style: none;
  text-align: center;
}

.main li {
  margin-bottom: 1rem;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main a {
  font-size: 1.25rem;
}
.main a:hover {
  text-decoration: underline;
}